@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps"; 
@import "bootstrap/scss/mixins";

$gray: #d0d0d0;
$jungle: #2a9d8f;

$theme-colors: map-merge(
  (
    "primary": rgb(225, 214, 11),
    "success": $jungle,
    "danger": #e63946,
    "dark": #000,
    "light": #fff,
    "jungle": $jungle, 
    "gray": $gray      
  ),
  $theme-colors
);


@import "bootstrap/scss/bootstrap";